body {
  width:90%;
}

th {
  vertical-align:top;
  background-color:rgb(192, 216, 248)
}

td {
    padding:5px;
    vertical-align:center;
}

th {
  text-align:center;
}

ul {
   margin:0;
}
h1,h2,p{text-align: center
}

